@model BCMyProject.ViewModels.MyPageViewModel
@using BCMyProject.Exstension;
@{
    ViewData["Title"] = "MyPage";
}
<style></style>
<div class="container" style="margin-top: 10px;">
    <div class="col-md-4">
        <div class="col-md-12">
            @if (Model.User.Avatar != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.User.Avatar))" style="max-width: 100%; height:auto;" title="avatar" />
            }
            else
            {
                <img src="~/images/empty-avatar.png" title="no image" style="max-width: 100%; height:auto;" />
            }
        </div>
        <div class="col-md-12">
            <form asp-action="Avatar" asp-controller="Home" method="post" enctype="multipart/form-data" style="max-width: 100%;">
                <p>
                    <input name="Avatar" type="file" class="form-control" />
                </p>
                <p>
                    <input type="submit" value="Загрузить" class="col-md-4" />
                </p>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <label>Изменить имя</label>
        <form asp-action="ChangeNick" asp-controller="Home" method="post">
            <p>
                <input name="Nick" type="text" class="form-control" value="@Model.User.Nick" />
            </p>
            <p>
                <input type="submit" value="Изменить" class="col-md-4 col-md-offset-4" />
            </p>
        </form>
    </div>
</div>
<hr />

<div class="container">
    <h2>Доски</h2>
    <div class="masonry-layout" id="listBoard">
        <div class="masonry-layout__panel ">
            <div class="masonry-layout__panel-content ">
                <div class="PhotoInfo">
                    <div class="col-md-4 photo" data-toggle="modal" data-target="#ModalBoard">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var r in Model.Boards)
        {
            @if (r.PhotoBoard.IsNullOrEmpty())
            {
                <div class="masonry-layout__panel" id="@r.BoardId">
                    <div class="masonry-layout__panel-content ">
                        <div class="PhotoInfo">
                            <img src="~/images/noimage.png" class="ImgInfo" />
                            <h3>@r.BoardName</h3>
                            <div class="mask"></div>
                            <span class="glyphicon glyphicon-remove"
                                  id="remove"
                                  data-toggle="modal" 
                                  data-target="#ModalBoardRemove"
                                  data-id="@r.BoardId"
                                  title="Удалить"></span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="masonry-layout__panel" id="@r.BoardId">
                    <div class="masonry-layout__panel-content ">
                        <div class="PhotoInfo">
                            <img src="@r.PhotoBoard.First().Photo.Path" class="ImgInfo" />
                            <h3>@r.BoardName</h3>
                            <div class="mask" onclick="window.location.href='@Url.Action("ShowAllPhotoInBoard", "Home", new { r.BoardId})';"></div>
                            <span class="glyphicon glyphicon-remove"
                                  id="remove"
                                  data-toggle="modal"
                                  data-target="#ModalBoardRemove"
                                  data-id="@r.BoardId"
                                  title="Удалить"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<div class="container">
    <h2>Фото</h2>
    <div class="masonry-layout" id="target">
        <div class="masonry-layout__panel ">
            <div class="masonry-layout__panel-content ">
                <div class="PhotoInfo">
                    <div class="col-md-4 photo" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var f in Model.Photos)
        {
            <div class="masonry-layout__panel " id="@f.PhotoId">
                <div class="masonry-layout__panel-content ">
                    <div class="PhotoInfo">
                        <img src="@Url.Content(f.Path)" class="ImgInfo" />
                        <div class="mask" onclick="window.location.href='@Url.Action("ShowThisPhoto", "Home", f)';"></div>
                        <span class="glyphicon glyphicon-remove"
                              id="remove"
                              onclick="Remove(@f.PhotoId)"
                              title="Удалить"></span>
                        <span class="glyphicon glyphicon-download"
                              id="download"
                              onclick="window.location.href='@Url.Action("GetFile", "Home", f)';"
                              title="Загрузить"></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Модальное окно удалить доску-->
<div class="modal fade" id="ModalBoardRemove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Удалить доску?</h4>
            </div>
            <div class="modal-body">
                <p>При удалении доски все сохраненые в ней фото будут также удалены, удалить?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="RemoveBoard">Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно "доска"-->
<div class="modal fade" id="ModalBoard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Создать доску</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Название доски" id="boardName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" disabled="disabled" id="AddBoard">Готово</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно "фото"-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Добавление фото</h4>
                <input type="text" name="Topic" id="topic" placeholder="Введи тему картинки" class="form-control" />
            </div>
            <div class="modal-body">
                <div id="drop-area">
                    <form class="my-form">
                        <p>Загрузите изображения с помощью диалога выбора файлов или перетащив нужные изображения в выделенную область</p>
                        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files) ">
                        <label class="button" for="fileElem">Выбрать изображения</label>
                    </form>
                    <div id="gallery"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="AddFile">Оk</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/DragAndDrop.js"></script>
<script type="text/javascript" src="~/js/remove.js"></script>
<script type="text/javascript" src="~/js/MyPageBoard.js"></script>
<script type="text/javascript" src="~/js/RemoveBoard.js"></script>