@using BCMyProject.ViewModels;
@using BCMyProject.Exstension;
@model ShowThisPhotoViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "ShowThisPhoto";
}
<br />
<div class="mainContainerInfo container">
    <div class="row col-md-12">
        <div class="col-md-2 col-md-offset-4">
            <button class="btn btn-danger " onclick="window.location.href='@Url.Action("GetFile", "Home", Model.Photo)';">Загрузить</button>
        </div>

        <div class="col-md-2">
            <button class="btn btn-warning " title="Сохранить" data-whatever="@Url.Content(Model.Photo.Path)" 
                    data-id="@Model.Photo.PhotoId"
                    data-toggle="modal" data-target="#ModalSave">Сохранить</button>
        </div>
    </div>
    <br />
    <div class="PhotoInfo">
        <a href="@Url.Content(Model.Photo.Path)" target="_blank"><img src="@Url.Content(Model.Photo.Path)" class="ImgInfo" /></a>
    </div>
    <input type="text" id="iddd" value="@Model.Rating" style="display:none" />
    <button class="like-button" id="likeButton"><i class="glyphicon glyphicon-thumbs-up" id="idd">@Model.Rating</i></button>
    <hr />
    <br />
    <div class="col-md-12">
        <div class="col-md-2">
            @if (Model.Photo.User.Avatar != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo.User.Avatar))" class="img-circle"
                     style="width: 64px; height: 64px" title="avatar" />
            }
            else
            {
                <img src="~/images/empty-avatar.png" title="no image" class="img-circle" style="width: 64px;" />
            }
        </div>
        <div class="col-md-10">
            <h4>Пользователь @Model.Photo.User.Nick добавил это фото</h4>
            <p>@Model.Photo.Description</p>
        </div>
    </div>
</div>

<br />
<div id="coment">
    @{ List<Coment> list = Model.Coments;}
    @if (list.Count() != 0 || list != null)
    {
        @foreach (var i in list)
        {
            <p>@i.User.Nick : @i.Text</p>
        }
    }
</div>
<h2>Комментарии</h2>

<div>
    <input type="text" id="PhotoId" value="@Model.Photo.PhotoId" style="display:none" />
    @{
        ApplicationUser apu = await UserManager.GetUserAsync(User);
    }
    <input type="text" id="UserName" value="@apu.Nick" style="display:none" />
    <p><textarea id="Text" style="width: 100%; resize: none;" placeholder="Напиши свой комментарий" maxlength="1000" rows="2"></textarea></p>
    <input type="submit" value="Отправить" id="SendButton" />
</div>
<input type="text" value="@Model.IsCurrentUserLike.ToString()" style="display:none" id="IsLike" />


<!--Modal boad-->
<div class="modal fade" id="ModalSave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Выбор доски</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="modalImg" class="img-thumbnail" style="display: inline" />
                            <div class="col-md-12" id="modalForm" style="display: none">
                                <label>Создать доску</label>
                                <hr />
                                <input type="text" placeholder="Введи название доски" class="form-control" id="boardName" />
                                <hr />
                                <div class="col-md-2 col-md-offset-6">
                                    <button class="btn btn-secondary" id="cancel">Отмена</button>
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <button class="btn btn-primary" id="AddBoard" disabled="disabled">Добавить</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 list-group" id="listGroup">
                            @if (!Model.Board.IsNullOrEmpty())
                            {
                                @foreach (Board b in Model.Board)
                                {
                                    <div class="row list-group-item picItem">
                                        <div class="col-md-2" style="padding-left: 0;">
                                            @if (!b.PhotoBoard.Select(c => c.Photo.Path).IsNullOrEmpty())
                                            {
                                                <img class="img-rounded"
                                                     src="@b.PhotoBoard.Select(c => c.Photo.Path).First()"
                                                     style="height:48px; margin-left:3px;" />
                                            }
                                            else
                                            {
                                                <img class="img-rounded"
                                                     src="~/images/noimage.png"
                                                     style="height:48px; margin-left:0;" />
                                            }
                                        </div>
                                        <div class="col-md-6" style="text-align: center"><span>@b.BoardName</span></div>
                                        <div class="col-md-4">
                                            <button class="btn btn-danger" onclick="AddPhotoInBoard(@b.BoardId)">Сохранить</button>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="row list-group-item picItem" id="createBoard">
                                <div class="col-md-2" style="padding-left: 0;">
                                    <img class="img-rounded"
                                         src="~/images/plus.png"
                                         style="height:48px; margin-left:0;" />
                                </div>
                                <div class="col-md-6" style="text-align: center"><span>Создать доску</span></div>
                                <div class="col-md-4"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ShowAllPhotoInTopic.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/likes.js"></script>




