@using BCMyProject.ViewModels;
@model ShowThisPhotoViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "ShowThisPhoto";
}
<br />
<div class="mainContainerInfo">
    @*This*@
    <div class="SaveThisPhotoHeader">
        <button class="SaveThisPhotoButton" onclick="window.location.href='@Url.Action("GetFile", "Home", Model.Photo)';">Загрузить</button>
    </div>
    <br />
    <div class="PhotoInfo">
        <img src="@Url.Content(Model.Photo.Path)" class="ImgInfo" />
    </div>
    <input type="text" id="iddd" value="@Model.Rating" style="display:none" />
    <button class="like-button" id="likeButton"><i class="glyphicon glyphicon-thumbs-up" id="idd">@Model.Rating</i></button>
    <hr />
    <br />
    <div class="ComentThisPhoto"></div>

</div>

<br />
<div id="coment">
    @{ List<Coment> list = Model.Coments;}
    @if (list.Count() != 0 || list != null)
    {
        @foreach (var i in list)
        {
            <p>@i.User.Nick : @i.Text</p>
        }
    }
</div>
<h2>Комментарии</h2>

<div>
    <input type="text" id="PhotoId" value="@Model.Photo.PhotoId" style="display:none" />
    @{
        ApplicationUser apu = await UserManager.GetUserAsync(User);
    }
    <input type="text" id="UserName" value="@apu.Nick" style="display:none" />
    <p><textarea id="Text" style="width: 100%; resize: none;" placeholder="Напиши свой комментарий" maxlength="1000" rows="2"></textarea></p>
    <input type="submit" value="Отправить" id="SendButton" />
</div>
<input type="text" value="@Model.IsCurrentUserLike.ToString()" style="display:none" id="IsLike" />


<script type="text/javascript" src="~/js/likes.js"></script>




